@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");
:root {
  --translate-value: -40;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-family: "Poly";
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  background-color: rgba(246, 248, 249, 0.7);
  color: #1f1f1f;
}

img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  height: 200%;
  background-image: url("/assets/images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  position: fixed;
  width: 100%;
  top: 0;
  transform: translateY(calc(var(--translate-value) * 1%));
  will-change: auto;
  transition: 0.5s cubic-bezier(0.22, 0.44, 0, 1);
}
.header-inner {
  position: fixed;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(calc(var(--translate-value-header) * 1%));
  will-change: auto;
  transition: 0.8s cubic-bezier(0.22, 0.44, 0, 1);
  padding-left: 5em;
  padding-right: 5em;
}
.header-title {
  text-align: center;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 6vw;
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
}
.header-subtitle {
  text-align: center;
  font-family: "Playfair Display";
  font-weight: 400;
  -webkit-text-stroke: 0.015rem;
  letter-spacing: 0.03rem;
  font-size: 1.5rem;
}

.sections-container {
  width: 96vw;
  margin: 0 auto;
}

.section {
  z-index: 99;
  margin-top: 101vh;
  padding: 5em;
  background-color: rgba(246, 248, 249, 0.99);
  position: relative;
  z-index: 1;
}
.section-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  gap: 2em;
  margin: 0 auto;
  transition: 1.5s cubic-bezier(0.22, 0.44, 0, 1);
}
.section-content-side {
  flex-grow: 1;
  flex-basis: 0;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-weight: 700;
  color: #0a5ea2;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  margin-top: 12px;
}
.section-content-side img {
  max-width: 800px;
  transition: 1.5s cubic-bezier(0.22, 0.44, 0, 1) 0.4s;
}
.section-content-side:before {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #0a5ea2;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-2px);
  margin-right: 10px;
}
.section-content-text {
  flex-grow: 1;
  flex-basis: 0;
  font-family: "Poly";
  line-height: 1.5;
  -webkit-text-stroke: 0.015rem;
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.section-content-text-callout {
  font-weight: 500;
  font-size: 1.4rem;
}
.section-content-text-col {
  column-count: 2;
  column-gap: 40px;
}

.toggle-class {
  opacity: 0;
  transform: translateY(120px);
}

.game-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.game-section div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.game-section div img {
  width: 50%;
}

.game-section div:nth-child(2) {
  flex-direction: row-reverse;
}

.magazine-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
}
.magazine-section-divider {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  margin: 0 10px;
}
.magazine-section div:not(.magazine-section-divider) {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cite {
  font-family: "Special Elite";
  font-variant: small-caps;
  font-size: 0.8em;
}

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 3em;
  margin-top: 3em;
  padding-bottom: 5em;
}
.quote-section-container {
  position: absolute;
  margin-top: 2em;
  width: 80vw;
  margin: 0 auto;
  z-index: 9999;
}
.quote-section-item {
  font-family: "Special Elite";
  font-style: italic;
  line-height: 1em;
  font-size: 1em;
  position: absolute;
  max-width: 300px;
  min-width: 200px;
  padding: 1.5em;
  background-image: url(/assets/images/quote-bg.svg);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.quote-section-item.active {
  opacity: 1;
  transform: translateY(0);
}
.quote-section .quote-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.quote-section-item.active .quote-overlay {
  opacity: 1;
}

.play-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  font-family: "Roboto";
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--red);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.btn :hover,
.btn :focus {
  color: #f8f8f8;
  outline: 0;
}
.btn.simulate {
  border-color: #f06c9c;
  color: rebeccapurple;
  box-shadow: 0 0 40px 40px #f06c9c inset, 0 0 0 0 #f06c9c;
  transition: all 150ms ease-in-out;
}
.btn.play {
  border-color: #acf06c;
  color: rebeccapurple;
  box-shadow: 0 0 40px 40px #acf06c inset, 0 0 0 0 #acf06c;
  transition: all 150ms ease-in-out;
}
.btn.simulate:hover {
  box-shadow: 0 0 10px 0 #f06c9c inset, 0 0 10px 4px #F06C9C;
}
.btn.play:hover {
  box-shadow: 0 0 10px 0 #acf06c inset, 0 0 10px 4px #acf06c;
}

.math-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@media (max-width: 1200px) {
  .sections-container {
    width: 96vw;
    margin: 0 auto;
    margin-top: 40vh;
  }
  .header-title {
    font-size: 8vw;
  }
  .header-subtitle {
    font-size: 1.2rem;
  }
  .header-inner {
    padding-left: 1em;
    padding-right: 1em;
  }
  .section {
    padding: 2em;
  }
}
@media (max-width: 768px) {
  body {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .section-content-text-callout {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1rem;
  }
  .magazine-section {
    flex-direction: column;
    gap: 2em;
  }
  .magazine-section-divider {
    display: none;
  }
  .magazine-section div:not(.magazine-section-divider) {
    max-width: 350px;
  }
  .game-section div {
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
  .game-section div img {
    width: 80%;
  }
  .game-section div:nth-child(2) {
    flex-direction: column;
  }
  .quote-section-item {
    line-height: 1em;
    font-size: 1.1em;
    max-width: 250px;
    min-width: 150px;
    padding: 1.5em;
  }
  .header {
    height: 60vh;
    background-size: contain;
    background-repeat: repeat;
    transform: none;
  }
  .header-inner {
    height: 50%;
    top: 100px;
  }
  .header-title {
    font-size: 8vw;
  }
  .header-subtitle {
    font-size: 1.3rem;
  }
  .section-content {
    padding: 1.5em;
  }
  .section {
    margin-top: 0vh;
  }
  .game-section div {
    flex-direction: column;
  }
  .game-section img {
    width: 80%;
  }
  .quote-section {
    min-height: 60vh;
  }
}
.math-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.math-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 90%;
  text-align: center;
}

@media (max-width: 480px) {
  .section-content {
    padding: 0;
  }
  .header-subtitle {
    font-size: 1.1rem;
  }
  .game-section img {
    width: 100%;
  }
  .btn {
    padding: 1em 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
