@import url("https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");

:root {
  --translate-value: -40;
}

html {
  box-sizing: border-box;
  cursor: default;
  font-family: "Poly";
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}

.header {
  background-image: url("/assets/images/background.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: #f4f4f4;
  padding: 5rem;
  background-size: cover;
  font-family: 'poly';
}

body {
  background-color: rgb(246, 248, 249, 0.7);
  color: #1f1f1f;
}

img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

p {
  font-family: "roboto";
}

.header-subtitle {
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  padding: 0;
}

.play-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1200px !important;
  margin: 0 auto;
}

section {
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.intro-image {
  width: 100vw;
  margin: 0 auto;
}

.section-divider {
  border-top: 2px solid #ddd;
  margin: 30px 0;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.quote-section-container {
  position: relative;
  height: 60vh;
  background-position: center 5%;
  overflow: hidden;
  background-repeat: cover;
  z-index: 1;
}

.quote {
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
  font-size: 1rem;
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0;
  margin-top: 4rem;
  z-index: 9999;
}

.quote p {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.comment-meta {
  display: flex;
  flex-direction: column;
}

.comment-name,
.comment-profession {
  font-weight: bold;
  font-size: 0.9rem;
  color: #007bff;
}


.btn {
  font-family: "Roboto";
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--red);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  :hover,
  :focus {
    color: #f8f8f8;
    outline: 0;
  }

  &.simulate {
    border-color: #f06c9c;
    color: rebeccapurple;
    box-shadow:
      0 0 40px 40px #f06c9c inset,
      0 0 0 0 #f06c9c;
    transition: all 150ms ease-in-out;
  }

  &.play {
    border-color: #acf06c;
    color: rebeccapurple;
    box-shadow:
      0 0 40px 40px #acf06c inset,
      0 0 0 0 #acf06c;
    transition: all 150ms ease-in-out;
  }

  &.simulate:hover {
    box-shadow:
      0 0 10px 0 #f06c9c inset,
      0 0 10px 4px#F06C9C;
  }

  &.play:hover {
    box-shadow:
      0 0 10px 0 #acf06c inset,
      0 0 10px 4px #acf06c;
  }
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .header-subtitle {
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    text-align: left !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .header {
    padding: 2rem;
  }

  .wrapper {
    width: 98vw;
  }

  .quote {
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 3rem;
    max-width: 96vw;
    margin: 0 auto;
    transform: translateX(-40%);

  }

  .comment-profession {
    display: none;
  }

  .quote p {
    font-size: 1rem;
  }

  .comment-meta {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    gap: 0.4rem
  }

}